@import 'tailwindcss/base.css';
@import 'tailwindcss/components.css';
@import 'tailwindcss/utilities.css';

@layer components {
  .custom-border {
    @apply border border-solid border-borderprimary rounded;
  }
}
